
.dialog {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dialog_name {
    align-self: center;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.avatar {
    width: 60px;
    border-radius: 50%;
}

.active {
    color: #ff2322;
}