.post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
}

.post1 {
    grid-row: 3 / 4;
    grid-column: span 3;
    margin: 10px;
}

.post_ava {
    width: 60px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.item {
    align-self: center;
    color: black;
}

.likes {
    color: #252525;
    margin: 5px;
    justify-self: center;
}